# Ignore all node_modules in any subfolder
node_modules/

# Ignore all dist folders in any subfolder
dist/

# Logs
*.log

# Env files
.env

# OS files
.DS_Store
Thumbs.db

# TS build cache
*.tsbuildinfo